[submodule "games/spelling-beads"]
	path = games/spelling-beads
	url = https://github.com/DailyTrojan-Online/spelling-beads
[submodule "games/troydle"]
	path = games/troydle
	url = https://github.com/DailyTrojan-Online/troydle
