[submodule "bandle"]
	path = bandle
	url = https://github.com/DailyTrojan-Online/bandle
[submodule "games/bandle"]
	path = games/bandle
	url = https://github.com/DailyTrojan-Online/bandle
[submodule "games/spelling-beads"]
	path = games/spelling-beads
	url = https://github.com/DailyTrojan-Online/spelling-beads
