[submodule "games/spelling-beads"]
	path = games/spelling-beads
	url = https://github.com/DailyTrojan-Online/spelling-beads
[submodule "games/troydle"]
	path = games/troydle
	url = https://github.com/DailyTrojan-Online/troydle
[submodule "games/sharks"]
	path = games/sharks
	url = https://github.com/DailyTrojan-Online/sharks
	branch = build
